<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872156327930-kq1sdesmnip4tcnceg0jnpu3f5i6oro0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872156327930-kq1sdesmnip4tcnceg0jnpu3f5i6oro0</string>
	<key>API_KEY</key>
	<string>AIzaSyBd8nxYyDLRKgiSHeyM28QSYfzPphoc3zM</string>
	<key>GCM_SENDER_ID</key>
	<string>872156327930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UnicornGames.Ludo</string>
	<key>PROJECT_ID</key>
	<string>ludo-unicorn</string>
	<key>STORAGE_BUCKET</key>
	<string>ludo-unicorn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872156327930:ios:56e92415569b582d5e3e43</string>
	<key>DATABASE_URL</key>
	<string>https://ludo-unicorn-default-rtdb.firebaseio.com</string>
</dict>
</plist>